<section id="admin">

<div class="row">

<div class="page_name col-10 m-4" style="background-color: #007075">
<h5>Admin Page</h5>
</div>

<div class="logout col-5 d-flex justify-content-end mt-4">
  <button id="button" style="background-color: #007075; border-radius: 0px;">Log Out</button>
</div>

</div>

<div class="row  justify-content-center p-1 my-5">
    {{#each doctor}}
        <div class="col-lg-3 col-md-6 col-sm-12 m-3 queue_list">
            <h4 class="docNames text-center p-4">Dr. {{fullName}} <br> Room: {{room}}</h4>
            <br>

        {{#each queue}}
        <button class="moveButton m-2" doctor="{{assignedDoctor}}" hkid="{{hkid}}"> Move Up <i class="fas fa-long-arrow-alt-up"></i>  </button>

        <span>
         {{inc @index}}. {{fName}} {{lName}} 
        </span>
        
        <button class="deleteFromQueue" doctor="{{assignedDoctor}}" hkid="{{hkid}}" style="color: red;">Delete</button>
        <br>

        {{/each}}
        </div>
    {{/each}}
</div>
</section>


<script>
    $(() => {
        let socket = io.connect("{{socket}}")

        $(".moveButton").on("click", (e) => {
          socket.emit("moveUp", {
              doctor: e.currentTarget.attributes.doctor.nodeValue,
              hkid: e.currentTarget.attributes.hkid.nodeValue
          })
          socket.emit("updateMain")
        });
        $(".deleteFromQueue").on("click", (e) => {
            if(confirm(`Delete from queue? Action cannot be undone!`) == true) {
                socket.emit("removeQ", {
                    doctor: e.currentTarget.attributes.doctor.nodeValue,
                    hkid: e.currentTarget.attributes.hkid.nodeValue
                })
                socket.emit("updateMain")
            } else {
                return
            }
        })
        // refresh the page
        socket.on("updateMain", () => {
            location.reload()
        })
    })
</script>
<script type="text/javascript">
        let logoutButton = document.getElementById("button");
        logoutButton.addEventListener("click", () => {
            $.get("/logout", (data) => {
                console.log(data);
                window.location.reload()
            })
        })
        </script>
