<h3>Control Page</h3>

<div class="row">
    {{#each doctor}}
        <div class="col-4">
            <div class="docNames">Dr. {{fullName}}:</div><br />
        {{#each queue}}<button class="moveButton" doctor="{{assignedDoctor}}" hkid="{{hkid}}">Move Up</button>{{fName}}<button class="deleteFromQueue" doctor="{{assignedDoctor}}" hkid="{{hkid}}">Delete</button><br>{{/each}}
        </div>
    {{/each}}
</div>
<div class="logout">
  <button id="button">Log Out</button>
</div>

<script>
    $(() => {
        let socket = io.connect("{{socket}}")

        $(".moveButton").on("click", (e) => {
          socket.emit("moveUp", {
              doctor: e.currentTarget.attributes.doctor.nodeValue,
              hkid: e.currentTarget.attributes.hkid.nodeValue
          })
          socket.emit("updateMain")
        });
        $(".deleteFromQueue").on("click", (e) => {
            if(confirm(`Delete from queue? Action cannot be undone!`) == true) {
                socket.emit("removeQ", {
                    doctor: e.currentTarget.attributes.doctor.nodeValue,
                    hkid: e.currentTarget.attributes.hkid.nodeValue
                })
                socket.emit("updateMain")
            } else {
                return
            }
        })
        // refresh the page
        socket.on("updateMain", () => {
            location.reload()
        })
    })
</script>
<script type="text/javascript">
        let logoutButton = document.getElementById("button");
        logoutButton.addEventListener("click", () => {
            $.get("/logout", (data) => {
                console.log(data);
                window.location.reload()
            })
        })
        </script>
