<section id="board">
<div class="page_name col-10 m-4" style="background-color: #00c4cc">
<h5>Queue Board</h5>
</div>

<div class="row justify-content-center p-1 my-5">
   
    {{#each doctor}}
        <div class="col-lg-3 col-md-6 col-sm-12 m-3 queue_list text-center p-4">
            <h4 class="docNames ">
                Dr. {{fullName}} <br> 
                Room: {{room}}</h4>
            <br>
           
             <h4 id="queueLength">Calling:{{fName}}  </h4>
            <h4>Total in queue: {{queue.length}}</h4>
        </div>
    {{/each}}
    
</div>
</section>


<script>
      $(() => {
        //Set up socket connection
        let socket = io.connect("{{socket}}");
        socket.emit("start", {{doctor}});
        
        //set up listners
        socket.on("updateDoctor", () => {
          axios
          .get("/api/{{doctor}}")
          .then((response) => {
            let doctor = response.data.doctor;
            let patient = doctor.queue[0];

            //doctor details
            $("#fName").html(doctor.fName);
            $("#lName").html(doctor.lName);
            $("#fullName").html(doctor.fullName);
            $("#room").html(doctor.room);
            $("#queueLength").html(response.data.queueLength);

            //patient details
            $("#patientFullName").html(patient.fullName);
            $("#patientGender").html(patient.gender);
            $("#patientAge").html(new Date().getFullYear() - new Date(patient.dob).getFullYear());
            $("#patientDob").html(new Date(patient.dob).toLocaleDateString());
            $("#patientArrived").html(new Date(patient.arrived).toLocaleString());
            $("#patientVisitReason").html(patient.visitReason);
            $("#patientHistory").html(patient.history);
          })
          
          .catch((err) => {
            console.log(err);
          });
        });

        //emit an update request to load the inital data once only.
        socket.emit("updateDoctor", {{doctor}});
      });
    </script>