<section id="board">
<div class="page_name col-10 m-4" style="background-color: #00c4cc">
<h5>Queue Board</h5>
</div>

<div class="row justify-content-center p-1 my-5">
   
    {{#each doctor}}
        <div class="col-lg-3 col-md-6 col-sm-12 m-3 queue_list text-center p-4">
            <h4 class="docNames my-4 ">
                Dr. {{fullName}} <br> 
                Room: {{room}}</h4>
            <br>
           
             <h4 id="queueLength" class="mb-4">Calling: <span id="{{id}}patientId"></span></h4>
            <h4 class="mb-4">Total in queue: <span id="{{id}}queueLength"></span></h4>
        </div>
    {{/each}}
    
</div>
</section>

<div class="container">
    <div class="patient_img text-center"> <img src="./asset/4.png" alt="" width="50%" >
      <div class="patient_rec text-center col-12">
    </div>
  </div>
</div>


<script>
      $(() => {
        //Set up socket connection
        let socket = io.connect("{{socket}}");
        {{#each doctor}}
        socket.emit("start", {{id}});

        //set up listners
        socket.on("updateDoctor", () => {
          axios
          .get("/api/{{id}}")
          .then((response) => {
            let doctor = response.data.doctor;
            let patient = doctor.queue[0];

            //doctor details
            $("#{{id}}queueLength").html(response.data.queueLength);

            //patient details
            $("#{{id}}patientId").html(patient.id);
          })

          .catch((err) => {
            console.log(err);
          });
        });

        //emit an update request to load the inital data once only.
        socket.emit("updateDoctor", {{id}});
        {{/each}}
      });
    </script>