<section id="doctor">

<div class="row">


<div class="page_name col-8 m-4" style="background-color: #AA8F00">
<h5>Doctor Access</h5>
</div>

<div class="logout col-4 d-flex justify-content-end mt-4">
  <button id="button" style="background-color: #AA8F00; border-radius: 0px;">Log Out</button>
</div>

</div>

<div class="m-5 doc_info">
<p> Doctor: <span id="fullName"></span></p>
<p> Room: <span id="room"></span></p>
</div>


<!--current patient info-->
<div class="container">
  <div class="row">
    <div class="current_patient p-4 m-3 col-sm-12">
      <h4 class="pb-5" style="color: #AA8F00;">Current Patient</h4>
      <p>Name: <span id="patientFullName"></span></p>
      <p>Gender: <span id="patientGender"></span></p>
      <p>Age: <span id="patientAge"></span></p>
      <p>Date of birth: <span id="patientDob"></span></p>
      <p>Visit Reason: <span id="patientVisitReason"></span></p>
      <p>History: <span id="patientHistory"></span></p>
      <p>Arrived time: <span id="patientArrived"></span></p>
      <p>Diagnosis:</p>
      <textarea id="diagnosis" class="text_diagnosis"></textarea>
    </div>


<!--Patient in queue-->
  <div class="patient_queue p-4 text-center pt-5 m-3 col-sm-12">
    <h4 class="pb-5" style="color: #AA8F00;"> Patient(s) in queue:</h4>
    <h2 id="queueLength"></h2>
  </div>

</div>
</div>

  <div class="btn_area">
<button id="next" class="next_btn">NEXT PATIENT</button>
</div>

</section>

<!--bottom image-->
    <div class="doctor_image mt-3"> <img src="/asset/11.png" alt="doctor" >
      <div class="doctor_rec text-center">
    </div>
  </div>
  

</section>

<script>
      $(() => {
        //Set up socket connection
        let socket = io.connect("{{socket}}");
        socket.emit("start", {{doctor}});

        //bind eventhandlers to emits
        $("#next").on("click", () => {
          socket.emit("next", {
            doctorId:{{doctor}},
            diagnosis:$("#diagnosis").val(),
            });
          $("#diagnosis").val("");
          // socket.emit("updateDoctor", {{doctor}});
          socket.emit("refreshThat", () => {
            socket.emit("updateMain")
          })
        });
        
        //set up listners
        socket.on("updateDoctor", () => {
          axios
          .get("/api/{{doctor}}")
          .then((response) => {
            let doctor = response.data.doctor;
            let patient = doctor.queue[0];

            //doctor details
            $("#fName").html(doctor.fName);
            $("#lName").html(doctor.lName);
            $("#fullName").html(doctor.fullName);
            $("#room").html(doctor.room);
            $("#queueLength").html(response.data.queueLength);

            //patient details
            $("#patientFullName").html(patient.fullName);
            $("#patientGender").html(patient.gender);
            $("#patientAge").html(new Date().getFullYear() - new Date(patient.dob).getFullYear());
            $("#patientDob").html(new Date(patient.dob).toLocaleDateString());
            $("#patientArrived").html(new Date(patient.arrived).toLocaleString());
            $("#patientVisitReason").html(patient.visitReason);
            patient.history.forEach((note) => {$("#patientHistory").append(
              `${new Date(note.created_at).toLocaleDateString()}: ${note.diagnosis}<br>`
              )});
          })
          //, note.diagnosis+"<br>"
          .catch((err) => {
            console.log(err);
          });
        });
        
        // refresh the page
        socket.on("updateMain", (e) => {
          e.preventDefault()
          location.reload()
        })

        //emit an update request to load the inital data once only.
        socket.emit("updateDoctor", {{doctor}});
      });
    </script>
<script type="text/javascript">
  let logoutButton = document.getElementById("button");
  logoutButton.addEventListener("click", () => {
    $.get("/logout", (data) => {
      console.log(data);
      window.location.reload()
    })
  })
 </script>