<div class="page_name col-10" style="background-color: #AA8F00">
<h5>Doctor Access</h5>
</div>

<section id="doctor">
<div class="m-5 doc_info">
<p> Doctor: <span id="fullName"></span></p>
<p> Room: <span id="room"></span></p>
</div>


<!--current patient info-->
<div class="container">
  
    <div class="current_patient p-4 m-3">
      <h4 class="pb-5" style="color: #AA8F00;">Current Patient</h4>
      <p>Name: <span id="patientFullName"></span></p>
      <p>Gender: <span id="patientGender"></span></p>
      <p>Age: <span id="patientAge"></span></p>
      <p>Date of birth: <span id="patientDob"></span></p>
      <p>Visit Reason: <span id="patientVisitReason"></span></p>
      <p>History: <span id="patientHistory"></span></p>
      <p>Arrived time: <span id="patientArrived"></span></p>
    </div>


<!--Patient in queue-->
  <div class="patient_queue p-4 text-center pt-5 m-3">
    <h4 class="pb-5" style="color: #AA8F00;"> Patient(s) in queue:</h4>
    <h2 id="queueLength"></h2>
  </div>

</div>


  <div class="btn_area">
<button id="next" class="next_btn">NEXT PATIENT</button>
</div>

</section>

<!--bottom image-->

    <div class="doctor_image mt-3"> <img src="/asset/11.png" alt="doctor" >
      <div class="doctor_rec text-center">
    </div>
  </div>

<script>
      $(() => {
        //Set up socket connection
        let socket = io.connect("{{socket}}");
        socket.emit("start", {{doctor}});

        //bind eventhandlers to emits
        $("#next").on("click", () => {
          socket.emit("next", {{doctor}});
          socket.emit("updateDoctor", {{doctor}});
        });
        
        //set up listners
        socket.on("updateDoctor", () => {
          axios
          .get("/api/{{doctor}}")
          .then((response) => {
            let doctor = response.data.doctor;
            $("#fName").html(doctor.fName);
            $("#lName").html(doctor.lName);
            $("#fullName").html(doctor.fullName);
            $("#room").html(doctor.room);
            $("#queueLength").html(response.data.queueLength);
            $("#patientFullName").html(doctor.queue[0].fullName);
            $("#patientGender").html(doctor.queue[0].gender);

            $("#patientAge").html(new Date().getFullYear() - new Date(doctor.queue[0].dob).getFullYear());

            $("#patientDob").html(new Date(doctor.queue[0].dob).toLocaleDateString());

            $("#patientArrived").html(new Date(doctor.queue[0].arrived).toLocaleString());
            $("#patientVisitReason").html(doctor.queue[0].visitReason);
            $("#patientHistory").html(doctor.queue[0].history);

            // process date and DOB before adding ot html
            // 

            /*console.log("Patient Age: " +doctor.queue[0].patientAge);
            console.log("Arrived: " + doctor.queue[0].arrived);
           
            console.log(doctor.queue[0].fullName);
            console.log(doctor.queue[0].hkid);
            console.log("AGE!!!!", new Date().getFullYear() - new Date(doctor.queue[0].dob).getFullYear() );
		        console.log("Current year", ); */

      
          })
          .catch((err) => {
            console.log(err);
          });
        });

        //emit an update request to load the inital data once only.
        socket.emit("updateDoctor", {{doctor}});
      });
    </script>