<p id="fName"></p>
<p id="lName"></p>
<p id="fullName"></p>
<p id="queueLength"></p>
<button id="next">next</button>


<script>
      $(() => {
        //Set up socket connection
        let socket = io.connect("{{socket}}");
        socket.emit("start", {{doctor}});

        //bind eventhandlers to emits
        $("#next").on("click", () => {
          socket.emit("next", {{doctor}});
          socket.emit("updateDoctor", {{doctor}});
        });
        
        //set up listners
        socket.on("updateDoctor", () => {
          axios
          .get("/api/{{doctor}}")
          .then((response) => {
            let doctor = response.data.doctor;
            $("#fName").html(doctor.fName);
            $("#lName").html(doctor.lName);
            $("#fullName").html(doctor.fullName);
            $("#queueLength").html(response.data.queueLength);
          })
          .catch((err) => {
            console.log(err);
          });
        });

        //emit an update request to load the inital data once only.
        socket.emit("updateDoctor", {{doctor}});
      });
    </script>