{{#with doctor}}
<p>doctor: {{fName}}</p>
<p>doctor: {{lName}}</p>
<p>doctor: {{fullName}}</p>
<p>doctor id: {{id}}</p>
<p>doctor queue: {{queue}}</p>
<button id="next">next</button>


<script>
      $(() => {
        let socket = io.connect("http://localhost:8000");
        socket.emit("start", "{{id}}");

        $("#next").on("click", () => {
          socket.emit("next", {{id}});
          console.log("next patient");
        });
      });
    </script>
{{/with}}