

<div class="page_name col-10" style="background-color: #AA8F00;">
<h6 class="">Doctor Access</h6>
</div>

<section id="doctor">
<div class="col-12 m-5 doc_info">
<p> Doctor: <span id="fullName"></span></p>
<p> Room: <span id="room"></span></p>
</div>


<!--current patient info-->
<div class="container">
  <div class="row">
    <div class="col-6 current_patient p-4 m-1">
      <h4 class="pb-5" style="color: #007075;">Current Patient Info</h4>
      <p>Name: <span id="patientFullName"></span></p>
      <p>Gender: <span id="patientGender"></span></p>
      <p>Date of birth: <span id="patientDob"></span></p>
      <p>Age: <span id="patientAge"></span></p>
      <p>Visit Reason: <span id="patientVisitReason"></span></p>
      <p>History: <span id="patientHistory"></span></p>
    </div>

    <div class="col-2">

    </div>


<!--Patient in queue-->
  <div class="patient_queue col-3 p-4 text-center pt-5">
    <h4 class="pb-5" style="color: #007075;"> Patient(s) in queue:</h4>
    <h2 id="queueLength"></h2>
  </div>
</div>
</div>

<div class="row">
  <div class="col-8 col-md-8"></div>
<button id="next" class="next_btn m-5 col-4 col-md-4">NEXT PATIENT</button>

</div>

<!--bottom image-->

    <div class="doctor_image mt-5"> <img src="/asset/11.png" alt="doctor" width="10%" >
      <div class="doctor_rec text-center col-12">
    </div>
  </div>
  

</section>
<div class="logout">
  <button id="button">Log Out</button>
</div>

<script>
      $(() => {
        //Set up socket connection
        let socket = io.connect("{{socket}}");
        socket.emit("start", {{doctor}});

        //bind eventhandlers to emits
        $("#next").on("click", () => {
          socket.emit("next", {{doctor}});
          socket.emit("updateDoctor", {{doctor}});
        });
        
        //set up listners
        socket.on("updateDoctor", () => {
          axios
          .get("/api/{{doctor}}")
          .then((response) => {
            let doctor = response.data.doctor;
            $("#fName").html(doctor.fName);
            $("#lName").html(doctor.lName);
            $("#fullName").html(doctor.fullName);
            $("#room").html(doctor.room);
            $("#queueLength").html(response.data.queueLength);
            $("#patientFullName").html(doctor.queue[0].fullName);
            $("#patientGender").html(doctor.queue[0].gender);
            $("#patientDob").html(doctor.queue[0].dob);
           //$("#patientAge").html(doctor.queue[0].calAge);
            $("#patientVisitReason").html(doctor.queue[0].visitReason);
            $("#patientHistory").html(doctor.queue[0].history);

          })
          .catch((err) => {
            console.log(err);
          });
        });

        //emit an update request to load the inital data once only.
        socket.emit("updateDoctor", {{doctor}});
      });
    </script>
<script type="text/javascript">
  let logoutButton = document.getElementById("button");
  logoutButton.addEventListener("click", () => {
    $.get("/logout", (data) => {
      console.log(data);
      window.location.reload()
    })
  })
 </script>