<div id="displayBox">
<p id="fName"></p>
<p id="lName"></p>
<p id="fullName"></p>
<p id="queue_position"></p>
</div>

<script>
      $(() => {
        //Set up socket connection
        let socket = io.connect("{{socket}}");
        socket.emit("start", {{doctor}});
        
        //setup listners 
        socket.on("updatePatient", () => {
          axios
          .get("/api/{{doctor}}/{{patient}}")
          .then((data) => {
            let patient = data.data.patient;
            if(patient.queuePosition !== 0) { 
              $("#fName").html(patient.fName);
              $("#lName").html(patient.lName);
              $("#fullName").html(patient.fullName);
              $("#queue_position").html(patient.queuePosition);
            } else {
              $("#displayBox").html("you kno de wai.")
            }
          })
          .catch((err) => {
            console.log("no patient found");
          });
        });

        //emit a new patient to display the patient in the system and force the data for this patient to load once.
        socket.emit("newPatient", {{doctor}});
      });
</script>
