<p>this is the form they use to enter their details, it will post to the doctor
  that they are joining the queue off</p>

<form action="/patient" method="post">
  <label>choose a doctor:</label>
  <ul>
    {{#each doctor}}
      <input type="radio" name="doctorId" value="{{id}}"> Dr {{f_name}} {{l_name}} <br>
    {{/each}}
  </ul>

  <br>
  <label for="patientName">Name</label><br>
  <input name="patientName" placeholder="name" value="" /> <br>

<!--

<label for="temperature">Temperature</label><br>
  <input name="temperature" value="" placeholder="celsius" /> 
  
  <li value="{{id}}">Doctor: {{f_name}} {{l_name}} in room {{room}}</li>
  -->

  <br>
  <button type="submit" value="checkIn">check in </button>
 

</form>