<div class="page_name" style="background-color: #00c4cc;">
<h5>Patient's Queue</h5>

</div>

{{!-- html --}}
<div class="displayBox">
  <div id="displayBoxInside">
    <p id="fullName" class="mt-5">Patient's Name: <strong><span class="fullName"></span></strong></p>
    <p id="queueDoctor">Doctor: <strong><span class="queueDoctor"></span></strong></p>
    <p id="queueRoom">Room: <strong><span class="queueRoom"></span></strong></p>
    <p id="queue_position">Queue Position: <strong><span class="queue_position"></span></strong></p>
    <p id="queueWait">Approximate wait time: <strong><span class="queueWait"></span></strong> minutes</p>
  </div> 
</div>
{{!-- styling --}}
<section id="checkin">
<div class="container">
    <div class="patient_img text-center"> <img src="/asset/4.png" alt="" width="50%" >
      <div class="patient_rec text-center col-12">
    </div>
  </div>
</div>
</section>

<script>
      $(() => {
        //Set up socket connection
        let socket = io.connect("{{socket}}");
        socket.emit("start", {{doctor}});
        
        //setup listners 
        socket.on("updatePatient", () => {
          axios
          .get("/api/{{doctor}}/{{patient}}")
          .then((data) => {
            let patient = data.data.patient;
            if(patient.queuePosition !== 0) {
              $(".fullName").html(patient.fullName);
              $(".queue_position").html(patient.queuePosition);
              $(".queueWait").html(patient.queuePosition * 5);
              axios.get("/api/{{doctor}}")
              .then((response) => {
                let doctor = response.data.doctor;
              $(".queueDoctor").html(`Dr. ${doctor.lName} ${doctor.fName}`)
              $(".queueRoom").html(doctor.room)
              })
            } else {
              $("#displayBoxInside").css({"background-color": "#00c4cc", "font-size": "35px", "color": "white", "text-align": "center", "display": "flex", "justify-content": "center", "flex-direction": "column"})
              $(".fullName").html(patient.fullName);
              $("#queueRoom").html(``)
              $("#queue_position").html(``)
              $("#queueWait").html(``)
              axios.get("/api/{{doctor}}")
              .then((response) => {
                let doctor = response.data.doctor;
              $("#queueDoctor").html(`<strong>Please go to room <strong>${doctor.room}</strong>`);
              })
            }
          })
          .catch((err) => {
            console.log("no patient found");
          });
        });

        //emit a new patient to display the patient in the system and force the data for this patient to load once.
        socket.emit("newPatient", {{doctor}});
      });
</script>
